/* File advancededitor.css for use in Next Generation Clustered Heat Map Interactive Builder */
#topnav { height: 5.0em; background:white; border-bottom: 0.20em solid #EE3124;}

body
{
    background-color:white;
}



.page-header
{
    color: black;
    font-family: Univers, Arial, Helvetica, Verdana, sans-serif;
    font-size: 18pt;
    font-weight: 600;
    text-align: center
}

.form_title
{
    text-align:center;
    font-weight: bold;
}

/* Generic CSS to be used throughout page */
.rotate
{
    -webkit-transform: rotate(90deg);
    -moz-transform:    rotate(90deg);
    -ms-transform:     rotate(90deg);
    -o-transform:      rotate(90deg);
    transform:         rotate(90deg);
}

.rotate-90
{
    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
    transform:         rotate(-90deg);
}

.rotate180
{
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
}

.bordereddiv
{
    border: 1px solid #000000;
}

.hidden_fieldset
{
    display:none;
}

.ui-dialog-osx 
{
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px; border-width: 0 8px 8px 8px;
}

.text_center
{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;      
}

.text_center_muted
{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: gray;
}



/* CSS for buttons in Navigation Section */

.ctrl_button_specs
{
    width: 120px;
    height: 25px;
    margin: 2px 0px 0px 0px;
}

.button_specs
{
    width: 200px;
    height: 25px;
    margin: 0px 0px 0px 0px;
}

.data_layer_specs
{
    width: 201px;
    height: 202px;
    margin: 0px 0px 0px 0px;
}

.buttonPlain
{
    background: #3498db;
    color: #000000;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
}

.buttonHighlighted
{
    background: #34db98;
    color: #000000;
    font-weight: bold;
    border-style: none;
    white-space: nowrap;
    overflow: hidden;
}

.standard
{
    float:right;
    width:80px;
}

select.dropdowns
{
    min-width:120px;
    margin: 2px 2px 2px 2px;
}

label.formLabelr
{
    display: inline-block;
    margin: 2px 2px 2px 2px;
    width: 100px;
}

label.formLabel1
{
    display: inline-block;
    margin: 2px 2px 2px 2px;
    width: 80px;
}

label.formLabel0
{
    display: inline-block;
    margin: 2px 2px 2px 2px;
    width: 100px;
}

label.formLabel2
{
    display: inline-block;
    margin: 2px 2px 2px 2px;
    width: 125px;
}

label.formLabel3
{
    display: inline-block;
    margin: 2px 2px 2px 2px;
    width: 146px;
}


.std_input
{
    min-width:200px;
    margin: 2px 2px 2px 2px;
}

select.dataTypes
{
    min-width:320px;
    margin: 2px 2px 2px 2px;
    max-height: 90px;
}

.bpRowSelect
{
    min-width: 20px !important;
    max-width: 20px !important;
    width:     20px !important;
    padding: 1px 
}

.bpColorButton
{
    min-width: 40px !important;
    max-width: 40px !important;
    width:     40px !important;
    padding: 1px 
}

.bpColor
{
    min-width: 90px !important;
    max-width: 90px !important;
    max-width: 90px !important;
    padding: 1px 
}

.bpValue
{
    min-width: 75px !important;
    max-width: 75px !important;
    max-width: 75px !important;
    padding: 1px !important;
}

.bpDepth
{
    min-width: 38px !important;
    max-width: 38px !important;
    max-width: 38px !important;
    padding: 1px !important;
}

.bpShape
{
    min-width: 40px !important;
    max-width: 40px !important;
    max-width: 40px !important;
    padding: 1px !important;
}

.dataTables_scrollBody
{
    overflow-x:hidden !important;
    overflow-y:auto !important;
}



* {box-sizing: border-box}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 600px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12pt;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 600px;
}


p {
  font-family: Helvetica;
  font-size: 14px;
  color: #000;
}
 
h1 {
  font-family: Helvetica, sans-serif;
  color: #000;
  text-align: center;
}
 
h2, h3, h4 {
  font-family: Helvetica, sans-serif;
  color: #000;
  margin-top: 15px;
  margin-bottom: 15px;
}

legend {
    font-family: Helvetica, sans-serif;
    color: #000;
    font-size: 14px;
}

label {
    font-family: Helvetica, sans-serif;
    color: #000;
    font-size: 13px;

}

/*label,select {
    display: inline-block;
}*/

.multiSelection{
    display: inline-block;
    vertical-align: middle;

}


.selectionBox{
    float:right;
    width:200px;
}
