<div class="tab-pane" id="associate">
	<h3></h3>
	<legend>Add Phenotype</legend>
	<form id="phenoUpload" method="POST" action="#" enctype="multipart/form-data">
		<!-- COMPONENT START -->
		<div class="form-group">
			<div class="input-group input-file input-file-phenotype" name="Fichier1">
				<input type="text" class="form-control" id="localPhenoFileName" placeholder='Choose a file...' />
				<span class="input-group-btn">
					<button class="btn btn-default btn-choose" type="button">Choose</button>
				</span>
			</div>
		</div>
		<!-- COMPONENT END -->
		<div class="form-group">
			<button type="submit" class="btn btn-primary pull-right">Submit</button>
			<button type="reset" class="btn btn-danger">Reset</button>
		</div>
	</form>

    <button id="samplePhenotype" class="btn btn-primary pull-right">sampleData</button>


	<div id="vtoolsAssociate">
		<legend>Associate</legend>
		<div class="selection_label">
			<label class="lb-md" for="projectTables">Tables</label>
			<select class="dropdowns selectpicker" name="projectTables" id="projectTables"></select>
		</div>
		<div class="selection_label">
			<label class="lb-md" for="projectPhenotypes">Phenotypes</label>
			<select class="dropdowns selectpicker" name="projectPhenotypes" id="projectPhenotypes"></select>
		</div>
		<div class="selection_label">
			<label class="lb-md" for="associateMethods">Methods</label>
			<select class="dropdowns selectpicker" name="associateMethods" id="associateMethods"></select>
		</div>
		<div class="selection_label">
			<label class="lb-md" for="discardVariants">Discard variants</label>
			<input class="std_input" id="discardVariants" type="text" value='"%(NA)>0.1"'>
		</div>
		<br>
		<button id="runAssociation" class="btn btn-primary" style="display:none">Run association</button>
		<button id="showAssociation" class="btn btn-primary" style="display:none">Show association</button>
		<p id="associateProgress"></p>

	</div>
	<div id = "association_error_placeholder"></div>

</div>