<div class="tab-pane active" id="import">
	<h3></h3>
	<div id="localFileSource">
		<h4>Select file to import</h4>
		<form id="dataUpload" method="POST" action="#" enctype="multipart/form-data">
			<!-- COMPONENT START -->
			<div class="form-group">
				<div class="input-group input-file input-file-data" name="Fichier1">
					<input type="text" class="form-control" id="localFileName" placeholder='Choose a file...' />
					<span class="input-group-btn">
						<button class="btn btn-default btn-choose" type="button">Choose</button>
					</span>


				</div>
			</div>
			<!-- COMPONENT END -->
			<div class="form-group">
				<button type="submit" class="btn btn-primary pull-right">Submit</button>
				<button id="sampleData" class="btn btn-primary pull-right">sampleData</button>
				<button type="reset" class="btn btn-danger">Reset</button>
			</div>
		</form>
		<hr>
	</div>
	<div id="dataSources" style="display:none;">
		<h4>Data Sources</h4>
		<select class="dropdowns" name="existingSourceName" id="existingSourceName">
		</select> <hr>
	</div>

	<div id="importData" style="display:none;">
		<h4>Data Import</h4>
		<p style="display:inline" id="selectedFileName"></p>
		<select id="genomeVersion" size="1">
			<option Selected>hg19</option>
			<option>hg18</option>
		</select>
		<button class="btn btn-primary" id="importButton">Import</button>
		<p id="importProgress"></p>
	</div>
</div>