{% extends 'base.html' %}

{% block script %}

{% endblock %}

{% block content %}

<div id="content-wrapper" class="d-flex flex-column">
    <a name="landingPage"></a>
    <div id="landing_content">
        <div class="jumbotron text-center">
            <h1>VariantTools web</h1>
            <p>A tool from vatlab</p>
        </div>

        <div class="align-items-center text-center">
            <h3>Create project</h3>
            <select class="selectpicker" id="genomeVersion" size="1">
                <option Selected>hg19</option>
                <option>hg18</option>
            </select>
            <button class="btn btn-primary btn-xl" id="createRandomProject">Create</button>
            <h3>Get project</h3>
            <input class="std_input" class="form-control" id="projectID" type="text">
            <button class="btn btn-primary" id="getProjectButton">Get</button>
        </div>
        <div id = "getProject_error_placeholder"></div>
        <div id = "createProject_error_placeholder"></div>
    </div>

    {% include 'navbar.html' %}
    <hr>
    <div id="infoArea" class="row justify-content-center" style="margin:auto;width:70%">
        <div class="col-auto">
            <table class="table table-striped" id="dataTable"></table>
            <div id="infoDiv"></div>
    
        </div>
    </div>
    <div id="plotNGCHM" style="display:none">
        <!-- <div id="NGCHM" style="width:100%; height:500px"></div> -->
        <!-- <div id='NGCHMEmbed'
    								style="background-color:white; height:500px ; width:500px; border: 2px solid gray; padding: 5px"></div> -->
        <div id='NGCHMEmbed' style="background-color:white; height:500px ; width:80%; border: 2px solid gray; padding: 5px; margin:0 auto;">
        </div>
    
        <script type="text/javascript" src="static/js/ngchmWidget-min.js"></script>
        <script type="text/Javascript" src="static/js/NGCHM_viewer.js"></script>
    </div>
</div>


{% endblock %}