<div class="container" id="accordionSidebar" style="display:none">


    <div class="container-fluid">
        <div style="display:inline-block">
            <a href="index.html">
                <h3>VariantTools</h3>
            </a>
        </div>
        <div class="projectIDTitle">
            <h5 id="title_projectID">This is P element</h5>
        </div>
        <div class="helpPage">
            <a href="https://vatlab.github.io/vat-docs/">
                <h4>Help</h4>
            </a>
        </div>
        <ul class="nav-tabs nav">
            <li class="nav-item">
                <a href="#import" data-toggle="tab" class="nav-link active">Import</a>
            </li>
            <li class="nav-item">
                <a href="#show" data-toggle="tab" class="nav-link">Show</a>
            </li>
            <li class="nav-item dropdown">
                <!-- <a href="#data" data-toggle="tab" class="nav-link">Data</a> -->
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Data <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#dataAnnotation" role="tab" data-toggle="tab">Annotation</a></li>
                    <li><a href="#vtoolsSelect" role="tab" data-toggle="tab">Select</a></li>
                    <li><a href="#vtoolsUpdate" role="tab" data-toggle="tab">Update</a></li>
                    <li><a href="#vtoolsRemove" role="tab" data-toggle="tab">Remove</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#output" data-toggle="tab" class="nav-link">Output</a>
            </li>
            <li class="nav-item">
                <a href="#associate" data-toggle="tab" class="nav-link">Association</a>
            </li>
            <li class="nav-item">
                <a href="#manhattanPlot" data-toggle="tab" class="nav-link">Manhattan</a>
            </li>
        </ul>
        <div class="tab-content col-md-9">
            {% include 'import.html' %}
            {% include 'show.html' %}
            {% include 'data.html' %}
            {% include 'output.html' %}
            {% include 'associate.html' %}
            {% include 'manhattanPlot.html' %}
            {% include 'admin.html' %}
        </div>

    </div>
    

</div>