<div class="tab-pane" id="output">
	<h3></h3>
	<fieldset id="outputData">
		<legend>Data Output</legend>
		<div class="selection_label">
			<label class="lb-md" for="outputTables">Tables</label>
			<select id="outputTables" class="selectionBox">
				<option selected value="Please selection">Please select</option>
			</select>
		</div>
		<div class="selection_label">
			<label class="lb-md" for="outputTableFields">Table Fields</label>
			<select id="outputTableFields" class="selectionBox" multiple>
			</select>
		</div>
		<!-- <div >
							<label  for="outputAnnos">Annotations</label>
								<select id="outputAnnos" class="selectionBox" >
									<option selected value="Plsease selection">Please select</option>
								</select>
							</div> -->
		<div class="selection_label">
			<label class="lb-md" for="outputAnnoFields">Anno Fields</label>
			<select id="outputAnnoFields" class="selectionBox" multiple>
			</select>
		</div>
		<button id="outputButton" class="btn btn-primary">Output</button>
	</fieldset>

</div>