<div class="tab-pane" id="output">
	<h3>Output</h3>
	<fieldset id="outputData">
		<legend>Data Output</legend>
		<div class="form-group">
			<div>
				<label for="outputTables">Tables</label>
				<select id="outputTables" class="selectionBox existingTables">
					<option selected value="Plsease selection">Please select</option>
				</select>
			</div>
		</div>
		<div style="height:60px">
			<div>
				<label for="outputTableFields">Table Fields</label>
				<select id="outputTableFields" class="selectionBox" multiple>
				</select>
			</div>
		</div>
		<!-- <div >
							<label  for="outputAnnos">Annotations</label>
								<select id="outputAnnos" class="selectionBox" >
									<option selected value="Plsease selection">Please select</option>
								</select>
							</div> -->
		<div style="height:60px">
			<label for="outputAnnoFields">Anno Fields</label>
			<select id="outputAnnoFields" class="selectionBox" multiple>
			</select>
		</div>

		<button id="outputButton">Output</button>
	</fieldset>
	<fieldset id="vtoolsCompare">
		<legend>Compare</legend>
	</fieldset>

</div>