<div class="tab-pane" id="show">
	<h3></h3>
	<fieldset id="vtoolsShowProject">
		<h4>Show project info</h4>
		<select id="showProjectOptions" size="1">
			<option></option>
			<option>show</option>
			<option>tables</option>
			<option>samples</option>
			<option>genotypes</option>
			<option>phenotypes</option>
		</select>
	</fieldset>
	<fieldset id="vtoolsShowInfo">
		<h4>Show vtools info</h4>
		<select id="showVtoolsOptions" size="1">
			<option></option>
			ß<!--  <option>fields</option> -->
			<option>annotations</option>
			<option>formats</option>
			<!-- <option>tests</option> -->
			<option>runtime_options</option>
		</select>
	</fieldset>

</div>